h1 {
	color: black;
	font-size: 52px;
	text-align: right;
	font-family: 'Bungee Inline', cursive;

}

body {
	background-image: url('../images/hoodserielogo.jpg');
	background-repeat: repeat-y;
		
}

p {
	color: black;
	text-align: right;
	font-size: 32px;
	font-family:  'Raleway', sans-serif;
	word-wrap: break-word;
}


